asgiref==3.11.1
certifi==2026.7.22
cffi==2.0.0
charset-normalizer==3.5.1
cryptography==50.0.1
defusedxml==0.7.1
dj-database-url==2.1.0
Django==4.2.16
django-allauth==0.57.0
django-cors-headers==4.3.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
google-auth==2.27.0
gunicorn==21.2.0
idna==3.19
oauthlib==3.3.1
packaging==26.3
Pillow==11.3.0
psycopg2-binary==2.9.10
pycparser==2.23
PyJWT==2.13.0
setuptools==80.9.0
python-decouple==3.8
python3-openid==3.2.0
pytz==2026.3.post1
razorpay==1.4.1
requests==2.32.5
requests-oauthlib==2.0.0
sqlparse==0.5.5
typing_extensions==4.16.0
urllib3==2.6.3
whitenoise==6.6.0
